{% extends "network/layout.html" %}

{% block body %}


<!-- This section of adding a new post can be seen only on the index page
    It is done like this because the same template will be used in following page also.
-->
{% if on_index_page %}
<div class="card text-center new-post">
    <div class="card-header"> <b>New Post</b></div>
    <div class="card-body">
        <form action="{% url 'share_post' %}" method="POST">
            {% csrf_token %}
            <textarea name='description' autofocus class="form-control" id="exampleFormControlTextarea1" rows="3"
                placeholder="Share your thoughts..."></textarea>
            <button type="submit" style="border-radius: 5px 23px;" class="btn btn-outline-info">Share</button>
        </form>
    </div>
</div>
{% endif %}


<!-- All posts -->
<div class="all-posts">
    <!-- Going through each post one by one -->
    {% for post in page.object_list %}

    {% with u_name=post.0.posted_by.username %}

    <div class="card">
        <div class="card-header">
            <!-- Getting the post's owner's username and link to his/her profile page -->
            <a href='{{post.0.posted_by.pk}}'>
                <strong>{{u_name}}</strong>
            </a>
            <!-- Edit button for posts that can only be seen by the owner of the post -->
            {% if u_name == request.user.username %}
            <span class="float-right">
                <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#postModal"
                    data-bs-post_owner="{{u_name}}" data-bs-post_no="{{post.0.pk}}"
                    data-bs-post="{{post.0.description}}">Edit</button>
            </span>
            {% endif %}
        </div>
        {% endwith %}
        <!-- Post details -->
        <div class="card-body">
            <p id="post-{{post.0.pk}}">
                {{post.0.description}}
            </p>
            <!-- Like button functioning 
                <form action="{% url 'like_post' %}" method="POST" onclick="submit()" style="height: 25px; width: 30px;">
                using the below one instead of the above one
                <form onsubmit="event.preventDefault()" method="POST" style="height: 25px; width: 30px;">
                    {% csrf_token %}
                    <input type="text" value="{{post.0.id}} " hidden name="this_post">
                    <input type="text" name="liked_or_not" value="{{like_text}}" hidden id="liked_or_not">
                    <div id="div">
                        <i id="i"></i>
                        <span id="span">liked!</span>
                    </div>
                    <span id="likes_count">
                        <!-- Likes count 
                        {{post.1}}
                    </span>
                </form>
            --> 
            <span id="likes_count" onclick="like_dislike(event)" data-liked="false" style="float: left;cursor: pointer;">
                <!-- Likes count -->
                {{post.1}}
            </span>
        </div>
        <!-- Date when the post is posted or edited -->
        <div class="card-footer text-muted">
            {{post.0.posted_on}}
        </div>
    </div>
    {% empty %}
    <h2 class="text-center">No Post Shared Yet</h2>
    {% endfor %}

    <!-- Editing of the post will be done inside a MODAL -->
    <div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="postModal">Edit Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Post Content:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id='close-modal' class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                    <button type="button" id="save-changes" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Navigation bar to go back and forth between different pages-->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if not prev_page_url %} disabled {% endif %}">
            <a class="page-link" href="{{prev_page_url}}" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        {% for page_num in page.paginator.page_range %}
        {% if page.number == page_num %}

        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{page_num}}">{{page_num}} <span class="sr-only"></span></a>
        </li>

        {%elif page_num > page.number|add:-3 and page_num < page.number|add:3 %} <li class="page-item">
            <a class="page-link" href="?page={{page_num}}">
                {{page_num}}
            </a>
            </li>
            {% endif %}
            {% endfor %}

            <li class="page-item {% if not next_page_url %} disabled {% endif %}">
                <a class="page-link" href="{{next_page_url}}">Next</a>
            </li>
    </ul>
</nav>
{% endblock %}