{% extends "network/layout.html" %}

{% block body %}
<div class="card text-center new-post">
    <div class="card-header"> <b>New Post</b></div>
    <div class="card-body">
        <form action="{% url 'share_post' %}" method="POST">
            {% csrf_token %}
            <textarea name='description' autofocus class="form-control" id="exampleFormControlTextarea1" rows="3"
                placeholder="Share your thoughts..."></textarea>
            <button type="submit" style="border-radius: 5px 23px;" class="btn btn-outline-info">Share</button>
        </form>
    </div>
</div>

<div class="all-posts">
    {% for post in all_posts %}
    <div class="card">
        <div class="card-header">
            <strong>{{post.posted_by.username}}</strong>
        </div>
        <div class="card-body">
            <p>
                {{post.description}}
            </p>
        </div>
        <div class="card-footer text-muted">
            {{post.posted_on}}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}