{% extends "network/layout.html" %}

{% block body %}


<!-- This section of adding a new post can be seen only on the index page
    It is done like this because the same template will be used in following page also.
-->
{% if on_index_page %}
<div class="card text-center new-post" style="margin-top: 15px;">
    <div class="card-header"> <b>New Post</b></div>
    <div class="card-body">
        <form action="{% url 'share_post' %}" method="POST">
            {% csrf_token %}
            <textarea name='description' autofocus class="form-control" id="exampleFormControlTextarea1" rows="3"
                placeholder="Share your thoughts..."></textarea>
            <button type="submit" style="border-radius: 5px 23px; margin-top: 10px;" class="btn btn-outline-primary">Share</button>
        </form>
    </div>
</div>
{% endif %}


<!-- All posts -->
<div class="all-posts">
    <!-- Going through each post one by one -->
    {% for post in page.object_list %}

    {% with u_name=post.0.posted_by.username %}

    <div class="card" style=" margin-top: 10px;">
        <div class="card-header" style="padding-top: 5px; padding-bottom:0">
            <!-- Edit button for posts that can only be seen by the owner of the post -->
            {% if u_name == request.user.username %}
            <span>
                <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal"
                    data-bs-target="#postModal" data-bs-post_owner="{{u_name}}" data-bs-post_no="{{post.0.pk}}"
                    style="border-radius: 3px 14px;float: right; margin-top: 10px;"
                    data-bs-post="{{post.0.description}}">Edit</button>
            </span>
            {% endif %}
            <!-- Getting the post's owner's username and link to his/her profile page -->
            <a href='{{post.0.posted_by.pk}}' style="text-decoration: none; color: rgba(0, 0, 0, 0.844);">
                <div>
                    <img style="height: 46px; width: 46px; border-radius: 50%;float: left; margin:0 8px 0 0;"
                        src="{{post.0.posted_by.user_profile.profile_pic.url}}" alt="{{u_name}} profile pic">
                </div>
                <p style="padding-top:10px">
                    <strong>{{u_name}}</strong>
                </p>
            </a>



        </div>
        {% endwith %}
        <!-- Post details -->
        <div class="card-body">
            <p id="post-{{post.0.pk}}">
                {{post.0.description}}
            </p>
            <!-- Like button functioning 
                <form action="{% url 'like_post' %}" method="POST" onclick="submit()" style="height: 25px; width: 30px;">
                using the below one instead of the above one
                <form onsubmit="event.preventDefault()" method="POST" style="height: 25px; width: 30px;">
                    {% csrf_token %}
                    <input type="text" value="{{post.0.id}} " hidden name="this_post">
                    <input type="text" name="liked_or_not" value="{{like_text}}" hidden id="liked_or_not">
                    <div id="div">
                        
                    </div>
                    <span id="likes_count">
                        <!-- Likes count 
                        {{post.1}}
                    </span>
                </form>
            -->
            <div id="div" style="float: left; margin-right: 5px;">
                {% if post.0.pk in my_liked_posts %}
                <i id="i" onclick="like_dislike(event)" style="color: #e23b3b;" data-post_no="{{post.0.pk}}"
                    data-liked="true"></i>
                {% else %}
                {% if request.user.is_authenticated %}

                <i id="i" onclick="like_dislike(event)" style="color:#aaa;" data-post_no="{{post.0.pk}}"
                    data-liked="false"></i>

                {% else %}

                <i id="i" onclick="go_to_login_page()" style="color:#aaa;" data-post_no="{{post.0.pk}}"
                    data-liked="false"></i>
                {% endif %}
                {% endif %}
                <p id="likes_count" style="float: right; cursor: pointer; margin-left: 8px;">
                    <!-- Likes count -->
                    {{post.1}}
                </p>
            </div>
        </div>
        <!-- Date when the post is posted or edited -->
        <div class="card-footer text-muted">
            {{post.0.posted_on}}
        </div>
    </div>
    <!-- When there's no post -->
    {% empty %}
    <!-- and we're on the index page then show this message-->
    {% if on_index_page %}
    <h2 class="text-center">No Post is shared yet</h2>

    <!-- otherwise show this message-->
    {% else %}
    <h2 class="text-center" style="color:coral;">Please Follow Someone to see their posts</h2>

    {% for suggestion in friend_suggestions %}
    <div class="col-lg-8" style="margin: auto; margin-top: 10px; padding: 5px; padding: 10px;">
        <div class="d-flex flex-row border rounded">
            <div>
                <img src="{{suggestion.user_profile.profile_pic.url}}"
                    style="height: 80px;width: 80px; border-radius: 50%; margin-top: 15px;margin-left: 8px;"
                    class="img-thumbnail border-0">

            </div>
            <div style="margin: auto; text-align: center;">
                <h5 class="text-primary">{{suggestion.username}}</h5>
                <p style="font-size: small;">{{suggestion.user_profile.bio}}</p>
                <button type="button" onclick="location.href='/{{suggestion.pk}}'""
                    style=" margin-bottom: 5px;margin-left: 15px;" class="btn btn-outline-info btn-sm"> View Profile
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
    <div style="margin-top: 30px ;"></div>

    {% endif %}
    {% endfor %}

    <!-- Navigation bar to go back and forth between different pages will be shown only when there's-->
    {% if page.object_list %}
    <nav aria-label="Page navigation example" style="display: block; margin-top: 10px; margin-bottom: 10px;">
        {% else %}
        <nav aria-label="Page navigation example" style="display: none; margin-top: 10px; margin-bottom: 10px;">
            {% endif %}
            <ul class="pagination justify-content-center">
                <li class="page-item {% if not prev_page_url %} disabled {% endif %}">
                    <a class="page-link" href="{{prev_page_url}}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                {% for page_num in page.paginator.page_range %}
                {% if page.number == page_num %}

                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{page_num}}">{{page_num}} <span class="sr-only"></span></a>
                </li>

                {%elif page_num > page.number|add:-3 and page_num < page.number|add:3 %} <li class="page-item">
                    <a class="page-link" href="?page={{page_num}}">
                        {{page_num}}
                    </a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    <li class="page-item {% if not next_page_url %} disabled {% endif %}">
                        <a class="page-link" href="{{next_page_url}}">Next</a>
                    </li>
            </ul>
        </nav>


        <!-- Editing of the post will be done inside a MODAL -->
        <div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="postModal">Edit Post</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Post Content:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id='close-modal' class="btn btn-secondary"
                            style="border-radius: 5px 23px;" data-bs-dismiss="modal">Close</button>
                        <button type="button" style="border-radius: 5px 23px;" id="save-changes"
                            class="btn btn-primary">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}