{% extends "network/layout.html" %}

{% block body %}
<!-- Background image div with Profile Pic as img -->
<div
    style="background-image: url('{{user.user_profile.background_img.url}}');background-size:cover;background-position:center; height:200px; ;padding-top:123px;">
    <img src="{{user.user_profile.profile_pic.url}}"
        style="margin-left: 2%; height:122px;width: 122px; border-radius: 50%; border: 4px solid #ffffff;"
        alt="Profile Pic of {{user.username}}" title="{{user.username}}">
</div>

<!-- Showing user's details -->
<div class="user-details" style="margin-left: 5%; margin-top: 55px;float: left;">
    <div id="name-and-username">
        <h4>{{user.username}}</h4>
        <h5 class="text-muted">@{{user.username}}</h5>
    </div>

    <!-- User's Biodata -->
    <div class="status">
        {{user.user_profile.bio}}
    </div>

    <!-- When the user joined -->
    <p class="text-muted fa" style="margin-top: 12px;"><i class="fa fa-calendar"></i> Joined June 2020</p>

    <!-- User's Followers and Following Count -->
    <div id="follow-details">
        <h6 style="text-align:left;float:left;margin-right: 10px;"> <span id="followers">{{followers}}</span> <span
                class="text-muted">Followers</span></h6>
        <h6 style="float:left;">{{following}} <span class="text-muted">Following</span> </h6>
    </div>
</div>

<!-- Follow-Unfollow Button for others -->
{% if request.user.username != user.username and request.user.is_authenticated %}
<div class="follow-unfollow" style="float: right;margin-top: 20px;">
    <form action="{% url 'follow_unfollow' %}" method="post">
        {% csrf_token %}
        <input type="text" value="{{user.username}}" style="display: none;" name="username">
        <button class="btn btn-outline-{{follow_button_style}}" name="follow_unfollow_button"
            value="{{follow_button_text}}" type="submit" id="follow-button"
            style="border-radius: 5px 23px;">{{follow_button_text}}</button>
    </form>
</div>
{% endif %}

<!-- Button to edit the profile of the currently logged in user -->
{% if request.user.username == user.username and request.user.is_authenticated %}
<div style="float: right;margin-top: 20px;">
    <button class="btn btn-outline-primary" id="update-profile" data-bs-toggle="modal" data-bs-target="#profileModal"
        style="border-radius: 5px 23px;">Edit profile</button>
</div>

<!-- Editing of the Profile will be done inside a MODAL -->
<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="profileModalLabel">Edit Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">
                    <!-- Button to change the background image -->

                    <label for="background_img"
                        style="position: relative; cursor: pointer; float: right;background-color: rgb(0, 166, 255);border-left: 2px solid white;border-bottom: 2px solid white;">
                        Change Background</label>
                    <form action="update_bg_img" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <input type="file" multiple='false' style="display: none;" id="background_img"
                            name="background_img" accept="image/*" onchange="showPreview(event);">
                        <button type="submit" id="change_bg_img" style="display: none;"></button>
                    </form>

                    <!-- Showing the current profile pic and background image -->
                    <div class="mb-3">
                        <div id="background_profile"
                            style="background-image: url('{{user.user_profile.background_img.url}}');background-size:cover;background-position:center; height:150px; ;padding-top:95px;">


                            <!-- Button to change Profile pic -->
                            <div class="wrapper" style='background-image: url("{{user.user_profile.profile_pic.url}}");'
                                alt="Change Profile" title="Change Profile">
                                <form action="update_profile_pic" enctype="multipart/form-data" method="POST">
                                    {% csrf_token %}
                                    <input type="file" onchange="showImage(event)" id="profile_img" name="profile_img"
                                        accept="image/*">
                                    <button type="submit" id="change_profile_pic" style="display: none;"></button>
                                </form>
                            </div>
                        </div>

                        <!-- Input to change the name of the user-->
                        <label style="margin-top: 30px;" for="Name_here" class="col-form-label">Name</label>
                        <input class="form-control" id="Name_here" value="{{user.username}}"></input>

                        <!-- Input to change the bio of the user-->
                        <label for="Bio_here" class="col-form-label">Bio</label>
                        <textarea class="form-control" id="Bio_here" value="{{user.user_profile.bio}}"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id='close-modal' class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                    <button type="button" data-user="{{request.user}}" id="save-changes" type="submit"
                        class="btn btn-primary">Save Changes</button>
                    <!-- Change the above line with the below line when update_profile feature is working correctly
                            class="btn btn-primary" onclick="update_profile(event)">Save Changes</button>
                        -->
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}


<!-- A line to separate the User details form his posts -->
<hr style="margin-top: 33%;border: 1px solid black;">
<h2 class="text-center">Your Dweets</h2>
<hr style="border: 1px solid black;">
<div class="my-posts">
    {% for post in posts %}
    <div class="card">
        <div class="card-header">

            <strong>@{{post.posted_by.username}}</strong>
        </div>
        <div class="card-body">
            <p>
                {{post.description}}
            </p>
        </div>
        <div class="card-footer text-muted">
            {{post.posted_on}}
        </div>
        {% empty %}
        <div class="text-center">
            <h3>You haven't Dweeted yet</h3>
            <p class="text-muted">When you post a Dweet, it'll show up here.</p>
            <form action="{% url 'index' %}">
                <button type="submit" style="border-radius: 5px 23px;" class="btn btn-outline-info">
                    Dweet Now
                </button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}