{% extends "network/layout.html" %}

{% block body %}
<!-- Background image div with Profile Pic as img -->
<div
    style="background-image: url('https://www.teahub.io/photos/full/187-1878181_hawaii-beach-pictures-wallpapers-backgrounds-for-pc-4k.jpg');background-size:cover;background-position:center; height:200px; ;padding-top:123px;">
    <img src="{{user.user_profile.profile_pic.url}}"
        style="margin-left: 5%; height:130px;width: 130px; border-radius: 50%; border: 4px solid #ffffff;"
        alt="Profile Pic of {{user.username}}" title="{{user.username}}">
</div>

<!-- Showing user's details -->
<div class="user-details" style="margin-left: 5%; margin-top: 55px;float: left;">
    <div id="name-and-username">
        <h4>{{user.username}}</h4>
        <h5 class="text-muted">@{{user.username}}</h5>
    </div>

    <!-- User's Description -->
    <div class="status">
        Head Of Music: UPPERROOM RECORDS
    </div>

    <!-- When the user joined -->
    <p class="text-muted fa" style="margin-top: 12px;"><i class="fa fa-calendar"></i> Joined June 2020</p>

    <!-- User's Followers and Following Count -->
    <div id="follow-details">
        <h6 style="text-align:left;float:left;margin-right: 10px;"> <span id="followers">{{followers}}</span> <span
                class="text-muted">Followers</span></h6>
        <h6 style="float:left;">{{following}} <span class="text-muted">Following</span> </h6>
    </div>
</div>

<!-- Follow-Unfollow Button for others -->
{% if request.user.username != user.username and request.user.is_authenticated %}
<div class="follow-unfollow" style="float: right;margin-top: 20px;">
    <form action="{% url 'follow_unfollow' %}" method="post">
        {% csrf_token %}
        <input type="text" value="{{user.username}}" hidden name="username">
        <button class="btn btn-outline-{{follow_button_style}}" name="follow_unfollow_button"
            value="{{follow_button_text}}" type="submit" id="follow-button"
            style="border-radius: 5px 23px;">{{follow_button_text}}</button>
    </form>
</div>
{% endif %}

{% if request.user.username == user.username and request.user.is_authenticated %}
<div class="follow-unfollow" style="float: right;margin-top: 20px;">
    <button class="btn btn-outline-primary" id="update-profile" data-bs-toggle="modal" data-bs-target="#profileModal"
        style="border-radius: 5px 23px;">Edit profile</button>
</div>

<!-- Editing of the Profile will be done inside a MODAL -->
<div class="modal hide fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="profileModalLabel">Edit Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <div
                            style="background-image: url('https://www.teahub.io/photos/full/187-1878181_hawaii-beach-pictures-wallpapers-backgrounds-for-pc-4k.jpg');background-size:cover;background-position:center; height:150px; ;padding-top:95px;">
                            <img src="{{user.user_profile.profile_pic.url}}" id="profile_pic"
                                style="margin-left: 5%; height:95px;width: 95px; border-radius: 50%; border: 4px solid #ffffff;"
                                alt="Profile Pic of {{user.username}}" title="{{user.username}}">
                        </div>
                        <!-- This modal button will open a modal that will change the profile pic or background image-->
                        <div style="float:right;margin-top: 5px;">
                            <button class="btn btn-outline-primary" id="change-profile-pic" data-bs-toggle="modal"
                                data-bs-target="#profilePicModal" style="border-radius: 5px 23px;">Edit
                                Pictures</button>
                        </div>

                        <label style="margin-top: 30px;" for="Name_here" class="col-form-label">Name</label>
                        <input class="form-control" id="Name_here" value="{{user.username}}"></input>

                        <label for="Bio_here" class="col-form-label">Bio</label>
                        <textarea class="form-control" id="Bio_here" value=""></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id='close-modal' class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="save-changes" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal to change the profile and background image of a user -->
<div class="modal hide fade" id="profilePicModal" tabindex="-1" aria-labelledby="profilePicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="profilePicModal">Change Image(s)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <form action="">
                            <label for="profile_img" class="col-form-label">Change Profile pic:</label><br>
                            <input type="file" id="profile_img" name="profile_img" accept="image/*">

                            <label for="background_img" class="col-form-label">Change Background image:</label>
                            <input type="file" id="background_img" name="background_img" accept="image/*">
                        </form>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id='close-modal' class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="save-changes" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>
{% endif %}


<!-- A line to separate the User details form his posts -->
<hr style="margin-top: 28%;border: 2px solid black;">

<div class="my-posts">
    {% for post in posts %}
    <div class="card">
        <div class="card-header">

            <strong>@{{post.posted_by.username}}</strong>
        </div>
        <div class="card-body">
            <p>
                {{post.description}}
            </p>
        </div>
        <div class="card-footer text-muted">
            {{post.posted_on}}
        </div>
        {% empty %}
        <div class="text-center">
            <h3>You haven't Dweeted yet</h3>
            <p class="text-muted">When you post a Dweet, it'll show up here.</p>
            <form action="{% url 'index' %}">
                <button type="submit" style="border-radius: 5px 23px;" class="btn btn-outline-info">
                    Dweet Now
                </button>
            </form>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
</div>