{% extends "network/layout.html" %}

{% block body %}
<div
    style="background-image: url('https://www.teahub.io/photos/full/187-1878181_hawaii-beach-pictures-wallpapers-backgrounds-for-pc-4k.jpg');background-size:cover;background-position:center; height:200px; ;padding-top:123px;">
    <img src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZmlsZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80;"
        style="margin-left: 5%; height:130px;width: 130px; border-radius: 50%; border: 4px solid #ffffff;"
        alt="Profile Pic of {{username}}" title="{{username}}">
</div>

<div class="user-details" style="margin-left: 5%; margin-top: 55px;float: left;">
    <div id="name-and-username">
        <h4>Eddie Smith</h4>
        <h5 class="text-muted">@{{username}}</h5>
    </div>
    <div class="status">
        Head Of Music: UPPERROOM RECORDS
    </div>
    <p class="text-muted fa" style="margin-top: 12px;">&#xf073; Joined June 2020</p>
    <div id="follow-details">
        <h6 style="text-align:left;float:left;margin-right: 10px;">500 <span class="text-muted">Followers</span></h6>
        <h6 style="float:left;">20 <span class="text-muted">Following</span> </h6>
    </div>
</div>

<div class="follow-unfollow" style="float: right;margin-top: 20px;">
    <button class="btn btn-outline-dark" style="border-radius: 5px 23px;">Follow</button>
</div>
{% endblock %}